  
  <app-home></app-home>
  <div class="container">
  <h2>Insurance</h2>
  <form>
    <div class="form-group">
      <label for="name">Zip Code</label>
      <input type="text" class="form-control" id="zip" name = "zip" [(ngModel)]="zip" required>
    </div>
    <button type="submit" class="btn btn-success" (click)="getInsuranceDetails()">Submit</button>
</form> 

<h3>Searching in.. {{zip}}</h3>

<div *ngIf = "status==200">
  <div *ngFor="let i of insurances"> 
      <app-insurance-card
      [name]="i.first_name"  
      [street]="i.street_line_1"
      [organization]="i.organization_name"
      [city]="i.city"
      [phone]="i.phone">

      </app-insurance-card>
  </div>
  
</div>

<div *ngIf = "status==404">
  No insurances
</div>
</div>

